.container {
    width: 350px;
    height: 500px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.item {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    border: 1px solid blue;
}